/* Add CSS styling here */

h1{
    background-color: #4A235A;
    color:antiquewhite;
    padding:1% 0 0 1%;
    margin:0%;
}
header, body{
    background-color: #4A235A;
    color:antiquewhite;
    min-height: 7rem;
    width: 100%;
    margin:0;
    
    }
nav{
display:flex;
justify-content: flex-start;
background-color: #4A235A;
width:100%;
padding:1% 0 0 1%;
}
nav a{
    text-decoration: none;
    background-color:#4A235A;
    color:antiquewhite;
    border:#D2B4DE solid 2px;
    padding: 5px;
    transition: background-color 250ms, color 250ms;
}
nav a:hover{
    background-color: #D2B4DE;
    color:#4A235A;
}
.home a{
     border-radius: 15px 0 0 15px;
    
}
.projects a{
    border-radius: 0 15px 15px 0;
    
}
*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-decoration: none;
}
.stack{
    display:flex;
    justify-content: space-evenly;
}
.card{
    padding:1%;
}
.card p{
    text-align: center;
}
.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.jj{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    }
 .jj a{
    text-decoration: none;
    border: 1px solid #4A235A;
    border-radius: 15px;
    width:6rem;
    padding:1% 1% 1% 1%;
    text-align: center;
    color:antiquewhite;
    transition: background-color 250ms, color 250ms;
    }
.jj a:hover{
    background-color: #4A235A;
        color:#D2B4DE;   
}
.imgbox{
    margin:1rem;
}
.main{
    background-color: #D2B4DE;
}
.footer{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:column;
        background-color: #4A235A;
    }
.footer a{
    text-decoration: none;
    background-color:#4A235A;
    color:antiquewhite;
    border:black solid 2px;
    padding: 5px;
    border-radius: 15px;
    transition: background-color 250ms, color 250ms;
}
.footer a:hover{
    background-color: #D2B4DE;
    color:#4A235A;
}

@media (max-width: 800px){
    
}
